APP_ENV=development
API_V1_PREFIX=/api/v1
FRONTEND_URL=http://localhost:5173
FRONTEND_URL_ALT=http://127.0.0.1:5173

API_HOST_PORT=8000

APP_NAME=Advocacia API
APP_VERSION=0.1.0

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=advocacia_db

JWT_SECRET_KEY=your-secret-key
JWT_EXPIRE_MINUTES=60